<h1>Here's what THIS animal did to honor the pink stampeding zebras....</h1>
<p>
  <strong>Animal:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Sacrifice:</strong>
  <%= @post.text %>
</p>

<h2>Past Comments:</h2>
<%= render @post.comments %>

<h2>Comments, feedback, concerns, tribulations...</h2>

<%= render "comments/form" %>

<%= link_to 'Not sure how to honor the zebras? Here are what the other animals have done...', posts_path %>

<br>
<br>
<%= link_to "What am I responding to, again? So. Confused.", controller: "welcome" %>

<br>
<br>

<%= link_to 'Control Z--Edit, please!', edit_post_path(@post) %>
