<p>
  <strong>Animal:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Sacrifice:</strong>
  <%= @post.text %>
</p>

<%= link_to 'Not sure how to honor the zebras? Here are what the other animals have done...', posts_path %>

<br>
<br>
<%= link_to "What am I responding to, again? So. Confused.", controller: "welcome" %>

<br>
<br>

<%= link_to 'Control Z--Edit, please!', edit_post_path(@post) %>
